<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create-user" method="post">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="bio" name="bio">
        <input type="text" placeholder="profile picture" name="profileImage">
        <button>Submit</button>
    </form>
</body>
</html>