<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <form action="/user/edit" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="photo" placeholder="photo">
        <button>Submit</button>
    </form>
</body>
</html>