.register-main{
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        form{
            display: flex;
            flex-direction: column;
            gap: 1em;
            height: 20em;
            width: 28em;
            padding: 2em;

            input{
                height: 3em;
                width: 100%;
                border-radius: 5px;
                padding: 1em;
                border: 1px black solid;
                outline: none;
            }
            .btn-submit{
                padding: 2em 5em;
                margin-top: 3em;
            }
            label{
                color: white;
            }
            p{
                color: white;
            }
        }
    }
}