.main {
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 50%;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        input {
            height: 3em;
            padding: 2em;
        }

        label {
            color: white;
            font-size: 1em;
        }

        button {
            padding: 1em 3em;
            margin-top: 1em;
        }
    }
}