<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: blue;
        }
    </style>
</head>

<body>
    <div>
        <% findUserInDb.forEach(elem=> { %>
            <img src="<%= elem.profileImg %>" alt="">
            <h1>
                <%= elem.userName %>
            </h1>
            <h1>
                <%= elem.bio %>
            </h1>
            <h1>
                <%= elem.email %>
            </h1>
            <% }) %>
    </div>

</body>

</html>