<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" placeholder="Enter your username" name="name">
        <input type="text" placeholder="Enter your email" name="email">
        <input type="text" placeholder="Enter your bio" name="bio">
        <input type="text" placeholder="Enter your image url" name="image">
        <button>Submit</button>
    </form>
</body>
</html>